<!doctype html>
<html ng-app="blablaApp" lang="eng">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="dist/css/application.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body ng-controller="MainCtrl">
        <ng-include src="'app/templates/_header.html'"></ng-include>
        
        <aside class="left-sidebar" ng-class="{'left-sidebar--active': showPanel}">
            <ul class="left-sidebar__nav">
                <li class="left-sidebar__elem">
                    <a class="left-sidebar__link left-sidebar__link--active">
                        <i class="fa fa-tachometer">
                        <span class="icon-bg bg-danger"></span>
                        </i>
                        <span>
                            Панель управления
                        </span>
                    </a>
                </li>
                <li class="left-sidebar__elem" ng-if="section == 'groups'">
                    <a class="left-sidebar__link" data-toggle="modal" data-target=".modal-group-create">
                        <i class="fa fa-file-text-o">
                        <span class="icon-bg bg-orange"></span>
                        </i>
                        <span>
                            Создать группу
                        </span>
                    </a>
                </li>
                <li class="left-sidebar__elem" ng-if="section == 'posts'">
                    <a class="left-sidebar__link" data-toggle="modal" data-target=".modal-post-create">
                        <i class="fa fa-file-text-o">
                        <span class="icon-bg bg-orange"></span>
                        </i>
                        <span>
                            Создать сообщение
                        </span>
                    </a>
                </li>
                <li class="left-sidebar__elem">
                    <a class="left-sidebar__link">
                        <i class="fa fa-file-text-o">
                        <span class="icon-bg bg-success"></span>
                        </i>
                        <span>
                            Мои группы
                        </span>
                    </a>
                </li>
                <li class="left-sidebar__elem">
                    <a class="left-sidebar__link">
                        <i class="fa fa-file-text-o">
                        <span class="icon-bg bg-violet"></span>
                        </i>
                        <span>
                            Мои подписки
                        </span>
                    </a>
                </li>
            </ul>
        </aside>
        <main class="container-fluid">
            <div class="wrapper">
                <div ui-view></div ui-view>
            </div>
        </main>
    <ng-include src="'app/templates/_register_view.html'"></ng-include>
    <ng-include src="'app/templates/_login_view.html'"></ng-include>
    <ng-include src="'app/templates/_hybrid_form.html'"></ng-include>
    <!--  <ng-include src="'app/templates/_footer.html'"></ng-include> -->
    <script src="dist/js/application.lib.min.js"></script>
    <script src="dist/js/application.min.js"></script>
    
</body>
</html>