html,
body {
  height: 100%;
}
body {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  background-color: #F5F7FA;
  margin-bottom: 60px;
  padding-top: 70px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
img {
  width: 100%;
  height: 100%;
}
footer {
  height: 60px;
  background-color: #fff;
  border-top: 1px solid #d6d6d6;
}
a {
  text-decoration: none;
  background-color: transparent;
}
ul {
  list-style-type: none !important;
}
.wrapper {
  max-width: 90%;
}
.fa {
  font-size: 16px;
}
.logo-text {
  font-size: 20px;
  color: #fafafa !important;
}
.left-sidebar {
  z-index: 1000;
  position: fixed;
  left: 0px;
  top: 50px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #fff;
  box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.left-sidebar li {
  text-indent: 20px;
}
.left-sidebar--active {
  left: 250px;
}
.left-sidebar__elem {
  position: relative;
  margin: 0;
  text-align: left;
  font-weight: bold;
}
.left-sidebar__link {
  text-decoration: none;
  cursor: pointer;
  color: #767676;
  background-color: #fff;
  position: relative;
  display: block;
  height: 50px;
  padding: 15px 15px;
  border-bottom: 1px solid #e5e5e5;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.left-sidebar__link:hover {
  background-color: #f1f1f1;
  color: #767676;
  text-decoration: none;
}
.left-sidebar__link:hover .icon-bg {
  left: 0px;
}
.left-sidebar__link:hover i {
  color: #fff;
}
.left-sidebar__link i {
  position: relative;
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-right: 1px solid #e5e5e5;
  margin: -15px 10px -15px -15px;
}
.left-sidebar__link i:before {
  position: relative;
  z-index: 1;
}
.left-sidebar__link--active {
  background-color: #f1f1f1;
}
.left-sidebar__link--active i {
  color: #fff;
}
.icon-bg {
  color: #fff;
  position: absolute;
  z-index: 0;
  left: -47px;
  width: 100%;
  top: 0;
  bottom: 0;
  -moz-transition: left 0.2s ease-in-out;
  -o-transition: left 0.2s ease-in-out;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}
.left-sidebar__nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.bg-orange {
  background-color: #F98E33;
}
.bg-success {
  background-color: #23AE89;
}
.bg-danger {
  background-color: #E94B3B;
  left: 0;
}
.bg-violet {
  background-color: #6A55C2;
}
.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.navbar-collapse--padding {
  padding: 0px 105px !important;
}
.navbar-default {
  background-color: #23b7e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  border: none !important;
}
.navbar-nav__menu-elem {
  color: #fff !important;
}
.navbar-nav__menu-elem:hover {
  color: #DED8D8 !important;
}
.post-list .post-list__item {
  width: 260px;
  margin: 0 15px 30px 15px;
  float: left;
  padding: 0px;
}
.post-list .post-list__item:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.post-tools {
  margin: 10px 0 0 0;
  text-align: left;
  padding: 0px;
}
.post-tools:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.post-tools .post-tools__item {
  float: right;
  width: auto;
  margin: 0 0 0 12px;
  display: inline;
  font-size: 11px;
  line-height: 1;
  color: #aaa;
}
.post-tools .post-tools__item:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.post-tools .post-tools__item--left {
  float: left;
}
.mini-box {
  clear: left;
  background-color: #fff;
  position: relative;
  padding: 0px 0px 10px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  word-break: break-all;
  word-spacing: normal;
}
.mini-box .mini-box__footer {
  padding: 0px 5px;
  position: relative;
}
.mini-box .mini-box__footer_title {
  position: absolute;
  top: 25px;
  width: 100%;
}
.preloader {
  clear: both;
  text-align: center;
  margin: 15px;
}
.preloader .preloader__el .fa {
  font-size: 55px;
  color: #555;
}
.right-sidebar {
  right: 19px;
  position: fixed;
  width: 310px;
}
.group-list .group-list__item {
  width: 220px;
  margin: 0 15px 30px 15px;
  float: left;
  padding: 0px;
}
.bl-group {
  background-color: #fff;
  border-radius: 4px;
}
.bl-group .bl-group__footer {
  padding: 0px 5px 5px 0px;
  height: 35px;
}
.bl-group .bl-group__title {
  padding: 5px;
  color: #444;
  font-weight: bold;
}
.bl-group .bl-group__follow--is_follow {
  color: #6B6565;
}
.bl-post {
  background-color: #fff;
  border-radius: 4px;
}
.bl-post .bl-post__body {
  padding: 5px;
}
.bl-post .bl-post__footer {
  padding: 0px 5px 5px 0px;
}
.bl-post .bl-post__title {
  float: right;
  padding: 5px;
  font-size: 12px;
}
.bl-post .bl-post__like--is_liked {
  color: #6B6565;
}
.icon-arrow {
  font-weight: 400;
}
.group-tools {
  margin: 10px 0 0 0;
  text-align: left;
  padding: 5px;
}
.group-tools .group-tools__item {
  float: right;
  width: auto;
  margin: 0 0 0 12px;
  display: inline;
  font-size: 14px;
  line-height: 1;
  color: #aaa;
}
.group-tools .group-tools__item:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.group-tools .group-tools__item--left {
  float: left;
}
.clearfix {
  content: "";
  display: block;
  clear: both;
}
