<div class="form-group">
    <label for="title" class="col-sm-2">Название группы</label>
    <div class="col-sm-10">
        <input type="text" ng-model="group.full_name" class="form-control" placeholder="Movie Title Here"/>
    </div>
</div>
<div class="form-group">
    <label for="shortName" class="col-sm-2">Короткое имя</label>
    <div class="col-sm-10">
        <input type="text" ng-model="group.short_name" class="form-control" placeholder="When was the movie released?"/>
    </div>
</div>
<div class="form-group">
    <label for="director" class="col-sm-2">Описание</label>
    <div class="col-sm-10">
        <input type="text" ng-model="group.description" class="form-control" placeholder="Who directed the movie?"/>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>