<div class="modal modal-group-create fade">
	<div class="modal-dialog">
		<div class="modal-content" ng-init="file = '';">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Создание группы</h4>
			</div>
			<div class="modal-body">
				<div ng-if="flash.message" class="alert alert-success">
					{{ flash.message }}
				</div>
				<form name="form" autocomplete="off" novalidate reset-form status="vm.data.status" form-data="vm.data.groupData">
					<div class="form-group" ng-class="{ 'has-error': form.full_name.$dirty && form.full_name.$error.required }">
						<input
						type="text"
						name="full_name"
						class="form-control"
						placeholder="Название группы"
						ng-focus
						ng-model="vm.data.groupData.full_name"
						required />
						<span ng-show="form.full_name.$dirty && form.full_name.$error.required && !form.full_name.$focused" class="help-block">
							Обязательное поле
						</span>
					</div>
					<div class="form-group" ng-class="{ 'has-error': form.short_name.$dirty && form.short_name.$error.required }">
						<input
						type="text"
						name="short_name"
						class="form-control"
						placeholder="Короткое имя"
						ng-focus
						ng-model="vm.data.groupData.short_name"
						required />
						<span ng-show="form.short_name.$dirty && form.short_name.$error.required && !form.short_name.$focused" class="help-block">
							Обязательное поле
						</span>
					</div>
					<div class="form-group" ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
						<textarea rows="3" name="description" class="form-control" placeholder="Описание" ng-focus ng-model="vm.data.groupData.description" required>
						</textarea>
						<span ng-show="form.description.$dirty && form.description.$error.required && !form.description.$focused" class="help-block">
							Обязательное поле
						</span>
					</div>
					<div class="form-group">
						<input type="file" ngf-select ng-model="file" name="file"
						accept="image/*" ngf-max-size="2MB">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn btn-primary" ng-click="vm.createGroup(file)" ng-disabled="form.$invalid || !form.$dirty" value="Отправить" />
				<input type="button" class="btn btn-default" data-dismiss="modal" value="Отмена" />
			</div>
		</div>
	</div>
</div>