<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse navbar-collapse--padding">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a ui-sref="groups" class="logo-text">
                            BlablaHear
                        </a>
                    </li>
                    <li>
                        <a href="#" class="navbar-nav__menu-elem" ng-show="globals.currentUser" ng-click="$parent.showPanel = !$parent.showPanel;" ng-class="{'active': $parent.showPanel}">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="!globals.currentUser">
                    <li>
                        <a class="navbar-nav__menu-elem" data-toggle="modal" data-target=".modal-register">Регистрация</a>
                    </li>
                    <li>
                        <a class="navbar-nav__menu-elem" data-toggle="modal" data-target=".modal-login">Вход</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="globals.currentUser">
                    <li>
                        <a class="navbar-nav__menu-elem" href="#" data-target="#" data-toggle="dropdown">
                            <i class="fa fa-user"></i>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Редактировать</a></li>
                            <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Удалить</a></li>
                            <li class="divider"></li>
                            <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out"></i></i> Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>