<div class="modal modal-login fade" ng-controller="AuthCtrl as vm">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Войдите</h4>
			</div>
			<div class="modal-body">
				<form name="form" ng-submit="login()" autocomplete="off" novalidate reset-form status="vm.data.status" form-data="vm.data.user">
					<div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
						<input
						placeholder="Email"
						type="email"
						name="email"
						class="form-control"
						ng-model="vm.data.user.email"
						ng-focus
						required />
						<span ng-show="form.email.$dirty && form.email.$error.required && !form.email.$focused" class="help-block">
							Обязательное поле
						</span>
						<span ng-show="form.email.$dirty && form.email.$error.email && !form.email.$focused" class="help-block">
							Некорректный email
						</span>
					</div>
					<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
						<input
						placeholder="Пароль"
						type="password"
						name="password"
						class="form-control"
						ng-model="vm.data.user.password"
						ng-minlength=6
						ng-focus
						required />
						<span ng-show="form.password.$dirty && form.password.$error.required && !form.password.$focused" class="help-block">
							Обязательное поле
						</span>
						<span class="help-block" ng-show="form.password.$error.minlength && !form.password.$focused">
							Минимальная длинна пароля 6 символов
						</span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn btn-primary" ng-click="vm.login()" ng-disabled="form.$invalid || !form.$dirty" value="Отправить" />
				<input type="button" class="btn btn-default" data-dismiss="modal" value="Отмена" />
			</div>
		</div>
	</div>
</div>