<div class="bl-tag" ng-controller="TagsCtrl as vm">
	<div class="bl-tag__header">
		<h5>Популярные записи</h5>
	</div>
	<div class="bl-tag__body">
		<ul class="tag-list">
			<li class="tag-list__item" ng-repeat="tag in vm.data.popularTags">
				<span ng-bind-html="tag.title | hashtag"></span>
			</li>
		</ul>
	</div>
</div>