<div class="modal modal-post-create fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Создание сообщения</h4>
			</div>
			<div class="modal-body">
				<div ng-if="flash.message" class="alert alert-success">
					{{ flash.message }}
				</div>
				<form name="form" autocomplete="off" novalidate reset-form="" status="vm.data.status" form-data="vm.data.postData">
					<div class="form-group" ng-class="{ 'has-error': form.content.$dirty && form.content.$error.required }">
						<textarea name="content" rows="3" class="form-control" ng-model="vm.data.postData.content" placeholder="Текст" required></textarea>
						<span ng-show="form.content.$dirty && form.content.$error.required && !form.content.$focused" class="help-block">
							Обязательное поле
						</span>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<input type="submit" class="btn btn-primary" ng-click="vm.createPost()" ng-disabled="form.$invalid || !form.$dirty" value="Отправить" />
				<input type="button" class="btn btn-default" data-dismiss="modal" value="Отмена" />
			</div>
		</div>
	</div>
</div>