<div ng-controller="GroupsCtrl as vm">
	<div endless-scroll next-scroll="vm.nextScroll()">
		<ul class="group-list clearfix" masonry item-selector=".group-list__item">
			<li class="group-list__item">
				<ng-include src="'app/templates/_popular_tags.html'"></ng-include>
			</li>
			<li class="group-list__item" ng-repeat="group in vm.data.groups track by $index | orderBy: '-messages_count'">
				<div class="bl-group">
					<div class="bl-group__header">
						<div class="bl-group__title">
							<span class="icon-arrow">
								<i class="fa fa-arrow-right"></i>
							</span>
							<span>{{ group.short_name }}</span>
						</div>
					</div>
					<div class="bl-group__body">
						<a ui-sref="posts({id: group.short_name})">
							<img class="responsive-img" ng-src="{{group.image_path}}" alt="">
						</a>
					</div>
					<div class="bl-group__footer">
						<ul class="group-tools clearfix">
							<li class="group-tools__item">
								<span class="mini-box__comment">
									<i class="fa fa-comments"></i>
								</span>
								<span>{{group.messages_count}}</span>
							</li>
							<li class="group-tools__item group-tools__item--left" ng-click="vm.follow($index, group.id, group.is_follow)">
								<span class="mini-box__star" ng-class="{ 'bl-group__follow--is_follow': group.is_follow}">
									<i class="fa fa-eye"></i>
								</span>
								<span>{{group.followers_count}}</span>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="preloader" ng-if="!vm.data.loaded">
		<span class="preloader__el">
			<i class="fa fa-spinner fa-spin"></i>
		</span>
	</div>
	<ng-include src="'app/templates/_groups_create.html'"></ng-include>
</div>