<div ng-controller="PostsCtrl as vm">
	<div endless-scroll next-scroll="vm.nextScroll()">
		<ul class="post-list" masonry item-selector=".post-list__item">
			<li class="post-list__item" ng-repeat="post in vm.data.posts track by $index | orderBy: '-publication_date'">
				<div class="bl-post" ng-init="like = false;">
					<div class="bl-post__header clearfix">
						<div class="bl-post__title">
							{{ post.publication_date | dateFomat }}
						</div>
					</div>
					<div class="bl-post__body">
						<p class="lead" ng-bind-html="post.content | hashtag">
							
						</p>
					</div>
					<div class="bl-post__footer">
						<ul class="post-tools">
							<li class="post-tools__item" ng-click="vm.like($index, post.id, post.is_liked)">
								<span class="bl-post__like" ng-class="{ 'bl-post__like--is_liked': post.is_liked }">
									<i class="fa fa-heart"></i>
								</span>
								<span>{{post.likes}}</span>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="preloader" ng-if="!vm.data.loaded">
		<span class="preloader__el">
			<i class="fa fa-spinner fa-spin"></i>
		</span>
	</div>
	<ng-include src="'app/templates/_posts_create.html'"></ng-include>
</div>