<div ng-controller="TagsCtrl as vm">
	<div endless-scroll next-scroll="vm.nextScroll()">
		<ul class="post-list">
			<li class="post-list__item" ng-repeat="data in vm.data.dataByTag | orderBy: '-publication_date'">
				<div class="bl-post">
					<div class="bl-post__header clearfix">
						<div class="bl-post__title">
							{{ data.publication_date | dateFomat }}
						</div>
					</div>
					<div class="bl-post__body">
						<p class="lead" ng-bind-html="data.content | hashtag">
							
						</p>
					</div>
					<div class="bl-post__footer">
						<ul class="post-tools">
							<li class="post-tools__item">
								<span class="mini-box__like">
									<i class="fa fa-heart"></i>
								</span>
								<span>{{data.likes}}</span>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="preloader" ng-if="!vm.data.loaded">
		<span class="preloader__el">
			<i class="fa fa-spinner fa-spin"></i>
		</span>
	</div>
	<ng-include src="'app/templates/_posts_create.html'"></ng-include>
</div>